BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
#UseTab: ForIndentation
UseTab: Never
IncludeBlocks: Regroup
AllowShortIfStatementsOnASingleLine: false
BreakConstructorInitializersBeforeComma: true
AlignConsecutiveAssignments: true
ColumnLimit: 140
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
BraceWrapping:
  BeforeElse: true
